moviepy
pillow
PyQt5
activesoup
requests
playwright==1.26
yt_dlp
pyrogram
vk_api
scrapetube
loguru
urllib3==1.26.15
kthread
tgcrypto
python-dateutil
googletrans==3.1.0a0
youtube-dl
pyinstaller
getmac
pyperclip
pyshortcuts
instagrapi
python-ffmpeg